*{
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-size: 1.6rem; // 16px
}

html{
  font-size: 62.5%;
}

img{
  max-width: 100%;
  display: block;
}

button{
  cursor: pointer;
}